*~
*.log
deps.*
stamp-h1
*.o
src/sol
.deps
config.status
autom4te.cache
Makefile
config.h
*.in
m4
aclocal.m4
missing
install-sh
depcomp
configure
doc
symbols.def
*.slc
src/Makefile.am
src/silc
compile
src/classes
*.exe
